extends ../layout.pug

block contents
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="email" type="text" required maxlenth=15 placeholder="Write your E-mail")
        input(name="username" type="text" required maxlenth=15 placeholder="Write your Username")
        input(name="name" type="text" required maxlenth=15 placeholder="Write your name")
        input(name="pw" type="password" required placeholder="Write your Password")
        input(name="cpw" type="password" required placeholder="Confirm Password")
        input(type="submit" value="Join")
    