extends ../layout.pug

block contents
    if errorMessage 
            span=errorMessage
    form(method="POST")
        input(name="username" type="text" required maxlenth=15 placeholder="Username")
        input(name="password" type="password" required placeholder="Password")
        input(type="submit" value="Login")
        p 
            a(href="/users/github/start") Use GitHub Account
        p 
            a(href="/users/kakao/start") Use Kakao Account
        p 
            a(href="/users/naver/start") Use Naver Account
        p 
            a(href="/users/google/start") Use Google Account
    br
    a(href="/join") Don't have Account? &rarr;
    