extends ../layout.pug

block contents
    form(method="POST")
        input(name="itemUrl" type="file" placeholder="Item image" accept="image/*")
        input(name="title" type="text" placeholder="Title of item" required)
        input(name="infoUrl" type="file" placeholder="File of information" accept="image/*")
        input(name="description" type="text" placeholder="Description of item" required)
        input(name="cost" type="text" placeholder="How much is it" required)
        input(type="submit" value="Upload")