extends ../../layout.pug

block contents
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="password" type="password" required placeholder="Write your Password")
        input(name="cpw" type="password" required placeholder="Confirm Password")
        input(type="submit" value="Chage Password")